# Global config for MetaDetector
md_partition="md"
md_dbdir="/path/to/dbdir"
md_meganpath="/path/to/megan/tools"
md_diamond_args="--block-size 20 --iterate faster --index-chunks 1 --tmpdir /tmp"
#md_diamond_dbdir="/path/to/dbdir/blastdb/nr/nr"
md_diamond_dbdir="/path/to/dbdir/diamond/nr.dmnd"
md_mmseqs_dbdir="/path/to/dbdir/mmseqs/core_nt/core_nt"
md_mmseqs_tmpdir="/tmp"
md_docker_execdir="/export/MD_cleanup/md_docker"
md_datadir="/path/to/data"
md_docker_tmpdir="/dev/shm"
md_docker_megandir="/path/to/megan"
md_docker_slurmconf="/path/to/slurm.conf"
md_human_ref="/path/to/dbdir/bbmap/human_CHM13/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna.gz"
md_silva_ref="/path/to/dbdir/bbmap/silva_release138_LSU-SSU_NR99_rRNA/SILVA_138.1_LSU-SSU_NR99_tax_silva.fasta"
md_contam_ref="/path/to/dbdir/bbmap/silva_release138_LSU-SSU_NR99_rRNA/SILVA_138.1_LSU-SSU_NR99_tax_silva.fasta"
